USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 10/24/2019 12:53:33 PM ******/
CREATE DATABASE [QuanLyKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyKhachSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[iDB] [int] IDENTITY(1,1) NOT NULL,
	[iDR] [int] NOT NULL,
	[iDC] [int] NOT NULL,
	[iDM] [int] NOT NULL,
	[cOST] [money] NULL,
	[checkIN] [date] NULL,
	[checkOUT] [date] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[iDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[iDC] [int] IDENTITY(1,1) NOT NULL,
	[nAME] [nvarchar](50) NOT NULL,
	[gENDER] [nvarchar](50) NOT NULL,
	[bIRTHDAY] [datetime] NOT NULL,
	[aDDRESS] [nvarchar](50) NOT NULL,
	[phoneNUMBER] [nvarchar](50) NOT NULL,
	[eMAIL] [nvarchar](50) NOT NULL,
	[identifyCARD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[iDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KindRoom]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KindRoom](
	[iDKR] [int] NOT NULL,
	[nAME] [nvarchar](50) NULL,
	[numberOFBED] [int] NULL,
	[nOTE] [nvarchar](max) NULL,
 CONSTRAINT [PK_KindRoom] PRIMARY KEY CLUSTERED 
(
	[iDKR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[iDM] [int] IDENTITY(1,1) NOT NULL,
	[iDU] [int] NOT NULL,
	[nAME] [nvarchar](50) NULL,
	[gENDER] [nvarchar](50) NULL,
	[bIRTHDAY] [datetime] NULL,
	[aDDRESS] [nvarchar](max) NULL,
	[phoneNUMBER] [nvarchar](50) NULL,
	[eMAIL] [nvarchar](50) NULL,
	[identifyCARD] [nvarchar](50) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[iDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[iDR] [int] IDENTITY(1,1) NOT NULL,
	[iDKR] [int] NOT NULL,
	[nAME] [nvarchar](50) NULL,
	[sTATUS] [nvarchar](50) NULL,
	[cOST] [money] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[iDR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomService]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomService](
	[iDRS] [int] IDENTITY(1,1) NOT NULL,
	[iDR] [int] NOT NULL,
	[iDS] [int] NOT NULL,
	[tIME] [time](7) NULL,
	[nUMBER] [int] NULL,
	[cOST] [money] NULL,
 CONSTRAINT [PK_RoomService] PRIMARY KEY CLUSTERED 
(
	[iDRS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[iDS] [int] IDENTITY(1,1) NOT NULL,
	[nAME] [nvarchar](50) NULL,
	[kIND] [nvarchar](50) NULL,
	[cOST] [money] NULL,
	[nOTE] [nvarchar](max) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[iDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/24/2019 12:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[iDU] [int] IDENTITY(1,1) NOT NULL,
	[nAME] [nvarchar](50) NULL,
	[pASSWORD] [nvarchar](50) NULL,
	[lEVEL] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[iDU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer] FOREIGN KEY([iDC])
REFERENCES [dbo].[Customer] ([iDC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Customer]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Manager] FOREIGN KEY([iDM])
REFERENCES [dbo].[Manager] ([iDM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Manager]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Room] FOREIGN KEY([iDR])
REFERENCES [dbo].[Room] ([iDR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Room]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_User] FOREIGN KEY([iDU])
REFERENCES [dbo].[User] ([iDU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_User]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_KindRoom] FOREIGN KEY([iDKR])
REFERENCES [dbo].[KindRoom] ([iDKR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_KindRoom]
GO
ALTER TABLE [dbo].[RoomService]  WITH CHECK ADD  CONSTRAINT [FK_RoomService_Room] FOREIGN KEY([iDR])
REFERENCES [dbo].[Room] ([iDR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoomService] CHECK CONSTRAINT [FK_RoomService_Room]
GO
ALTER TABLE [dbo].[RoomService]  WITH CHECK ADD  CONSTRAINT [FK_RoomService_Service] FOREIGN KEY([iDS])
REFERENCES [dbo].[Service] ([iDS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoomService] CHECK CONSTRAINT [FK_RoomService_Service]
GO
USE [master]
GO
